<div class="todo">
  <todo-form
    todo="$ctrl.newTodo"
    on-add-todo="$ctrl.addTodo($event);">	
  </todo-form>

  <todo-list
    todos="$ctrl.todos"
    on-select-todo="$ctrl.selectTodo($event);"
    on-remove-todo="$ctrl.removeTodo($event);">
  </todo-list>

  <todo-filter todos="$ctrl.newTodo"
    on-filter-todo="$ctrl.filterTodo($event);">
  </todo-filter > 
</div>