
<ul name="todoList">
  <li ng-repeat="todo in $ctrl.todos">
	 <input type="checkbox" name="todoList" ng-click="$ctrl.onSelect($index)">
	 {{todo.title}}
	  [<a href="" name="todoList" ng-click="$ctrl.onRemove($index)" ng-model="$ctrl.todo.title">remove</a>]
  </li>
  <div>
    <button type="submit" ng-click="$ctrl.onCount();">Remaining</button>
	<span><span>{{$ctrl.counter}}</span>remaining todos</span>
   </div>
   <div>
	 <button type="submit" ng-click="$ctrl.onArchive();">Archive todos</button>
   </div>
</ul>
